@charset "UTF-8";
/* Blog icons */
/* Blog icons */
/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

/* Generic tags */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

html {
  font-family: 'Poppins';
  font-size: 14px;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  color: #222222; }

h1, h2, h5 {
  text-transform: uppercase; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0; }

h2 {
  font-size: 1.8rem;
  padding: 1.5rem 0; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 0.9rem;
  color: #777777;
  letter-spacing: 0.2rem; }

p, q {
  padding-bottom: 1.5rem; }

q {
  font: inherit; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

form input, form textarea {
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  margin: 0.75rem 0;
  width: 100%;
  font: inherit;
  color: #919191; }

@media screen and (min-width: 860px) {
  p, q {
    font-size: 0.9rem; } }

@media screen and (min-width: 1140px) {
  p, q {
    font-size: 1rem; } }

/* FlexBox Grid */
.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 860px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1140px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.l-wrap {
  padding: 5rem 1rem 5rem; }

@media screen and (min-width: 860px) {
  .l-wrap {
    padding: 5rem 2.5rem 5rem; } }

@media screen and (min-width: 1140px) {
  .l-wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem; } }

.l-header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  box-shadow: 0px 2px 8px 0px rgba(238, 238, 238, 0.3); }

.l-header-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.l-header-logo {
  flex: 0 0 50%;
  max-width: 50%; }
  .l-header-logo a {
    display: block;
    padding: 1rem 1.5rem; }
  .l-header-logo img {
    width: 133px; }

/* Animated hamburger menu */
.l-header-hamburger {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  height: 3rem;
  cursor: pointer;
  z-index: 9999;
  /* From hamburger menu to closure cross */ }
  .l-header-hamburger .burger {
    position: absolute;
    top: calc(50% - 1.5px);
    right: 2.2rem;
    width: 24px;
    height: 3px;
    background-color: #222222;
    transition: all 0.5s; }
    .l-header-hamburger .burger::before, .l-header-hamburger .burger::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 3px;
      background-color: #222222; }
    .l-header-hamburger .burger::before {
      top: -8px;
      transition: all 0.5s; }
    .l-header-hamburger .burger::after {
      bottom: -8px;
      transition: all 0.5s; }
  .l-header-hamburger.nav-active > .burger {
    background-color: transparent;
    transition: background-color 0.5s; }
  .l-header-hamburger.nav-active > .burger::before {
    transform: rotate(45deg);
    top: 0;
    transition: all 0.5s; }
  .l-header-hamburger.nav-active > .burger::after {
    transform: rotate(-45deg);
    bottom: 0;
    transition: all 0.5s; }

/* Hidden nav */
.l-header-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.94);
  transition: left 0.5s;
  /* Active nav */ }
  .l-header-nav ul {
    padding: 1.5rem 1rem; }
  .l-header-nav a {
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    transition: color 1s; }
  .l-header-nav .link-active {
    color: #8490ff; }
  .l-header-nav.is-active {
    left: 0;
    transition: left 0.5s; }
    .l-header-nav.is-active::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100vw;
      height: 100vh;
      background: black;
      opacity: 0.45;
      z-index: -9999;
      animation: opacityOnBody 1s; }

/* grey body animation */
@keyframes opacityOnBody {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0.45; } }

@media screen and (min-width: 860px) {
  .l-header-logo {
    flex: 0 0 25%;
    max-width: 25%; }
  .l-header-hamburger {
    display: none; }
  .l-header-nav {
    flex: 0 0 75%;
    max-width: 75%;
    position: static;
    height: auto;
    background: inherit; }
    .l-header-nav ul {
      padding: 0 1.5rem 0 0;
      text-align: right; }
      .l-header-nav ul li {
        display: inline-block; }
        .l-header-nav ul li a {
          display: block;
          padding: 1rem 1.2rem;
          color: #222222;
          font-size: 0.9rem;
          transition: color 1s; } }

@media screen and (min-width: 1140px) {
  .l-header-wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem; }
  .l-header-logo a {
    padding-left: 0; }
  .l-header-nav ul {
    padding-right: 0; }
    .l-header-nav ul li a {
      font-size: 1rem; }
      .l-header-nav ul li a:hover {
        color: #8490ff;
        transition: color 1s; } }

.l-footer {
  background-color: #04091e; }

.l-footer-wrap {
  padding: 5rem 1rem 5rem;
  /* Email field for newsletter */ }
  .l-footer-wrap h3 {
    color: #fcfcff;
    padding-top: 2rem; }
  .l-footer-wrap p {
    padding-top: 1.2rem; }
  .l-footer-wrap form {
    display: flex;
    align-items: center; }
    .l-footer-wrap form label {
      display: none; }
    .l-footer-wrap form input[type=email], .l-footer-wrap form input[type=submit] {
      height: 3rem;
      border: none;
      padding: 0.5rem;
      margin-top: 1rem; }
    .l-footer-wrap form input[type=email] {
      flex: 0 0 83.33333%;
      max-width: 83.33333%; }
    .l-footer-wrap form input[type=submit] {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      background-color: #8490ff;
      color: #fff;
      cursor: pointer; }
      .l-footer-wrap form input[type=submit]:hover, .l-footer-wrap form input[type=submit]:active {
        background-color: #62bdfc; }

.l-footer-about a[href="http://www.colorlib.com"] {
  color: #8490ff; }
  .l-footer-about a[href="http://www.colorlib.com"]:hover {
    color: #777777; }

.l-footer-social-logos a {
  color: #fcfcff;
  padding: 1.5rem 1rem; }
  .l-footer-social-logos a:hover {
    color: #8490ff; }

.l-footer-social-logos i {
  padding-top: 1.5rem;
  font-size: 1.5rem; }

@media screen and (min-width: 860px) {
  .l-footer-wrap {
    padding: 5rem 1.5rem; }
  .l-footer-about {
    padding-right: 1.5rem; }
  .l-footer-newsletter {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .l-footer-social {
    padding-left: 1.5rem; }
    .l-footer-social a {
      padding: 0.6rem; } }

@media screen and (min-width: 1140px) {
  .l-footer-wrap {
    padding: 5rem 2rem; } }

.btn-primary {
  display: block;
  width: 200px;
  text-align: center;
  padding: 0.8rem 0;
  background: #8490ff;
  background: #8490ff;
  background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.10rem;
  border: none; }
  .btn-primary:hover {
    background: #62bdfc; }

.btn-secondary {
  display: inline-block;
  text-align: center;
  color: #222222;
  background-color: #fff;
  padding: 1rem 1.5rem;
  font-weight: bold; }

.btn-tag {
  display: inline-block;
  border: 2px solid #f1f0ee;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #5e5e5e; }

@media screen and (min-width: 1140px) {
  .btn-tag:hover {
    background-color: #fff;
    border: none;
    color: #222;
    font-weight: bold; } }

.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-left: 0.6rem; }

.blog-page-changer ul {
  display: flex;
  justify-content: center;
  padding-top: 2rem; }
  .blog-page-changer ul a {
    padding: 0.5rem;
    margin: 0 0.2rem; }
    .blog-page-changer ul a.is-active {
      background-color: #8490ff;
      color: #fff; }

@media screen and (min-width: 1140px) {
  .blog-page-changer a:hover {
    color: #222; } }

/* Aside -- Search box */
.search-box {
  display: flex;
  padding-bottom: 3rem; }
  .search-box label {
    display: none; }
  .search-box input {
    background-color: #8490ff;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 1.5rem; }
    .search-box input[type=text] {
      border-radius: 50px 0 0 50px;
      flex: 0 0 75%;
      max-width: 75%;
      color: #fff; }
      .search-box input[type=text]::placeholder {
        color: #f2f2f2; }
      .search-box input[type=text]::-ms-input-placeholder {
        color: #fff; }
    .search-box input[type=submit] {
      border-radius: 0 50px 50px 0;
      flex: 0 0 25%;
      max-width: 25%;
      cursor: pointer; }

/* Aside heading -- Blog.html & Article.html */
.aside-heading {
  background-color: #8490ff;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal; }

/* Popular post */
.popular-post {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem; }
  .popular-post:last-child {
    padding-bottom: 0; }
  .popular-post img {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    height: 100%; }

@media screen and (min-width: 1140px) {
  .popular-post:hover > .popular-post-title a {
    color: #8490ff; } }

.popular-post-title {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding-left: 0.5rem; }
  .popular-post-title h4 {
    font-size: 1rem; }
  .popular-post-title p {
    padding: 0; }

/* Comment Reply */
.btn-reply {
  text-align: center; }
  .btn-reply a {
    padding: 0.5rem 1.2rem;
    border: 1px solid #f1f0ee;
    color: #222222;
    font-weight: bold;
    background-color: #fff;
    text-transform: uppercase; }

@media screen and (min-width: 1140px) {
  .author-social a:hover {
    color: #8490ff; } }

/* Page heading */
.m-page-heading {
  background: #8490ff;
  background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
  color: #fff;
  text-align: center;
  text-transform: capitalize; }
  .m-page-heading h1 {
    font-size: 3rem;
    color: inherit;
    text-transform: capitalize; }

.m-page-heading-wrap {
  padding-top: 8.5rem; }

.next-row::after {
  content: '⇁';
  padding: 0 0.5rem; }

/* Section & Aside heading */
.m-section-heading, .m-aside-heading {
  text-align: center;
  padding-bottom: 1.5rem; }
  .m-section-heading h3, .m-aside-heading h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-bottom: 1.5rem; }

@media screen and (min-width: 860px) {
  .m-section-heading, .m-aside-heading {
    padding-bottom: 3.5rem; }
    .m-section-heading p, .m-aside-heading p {
      padding: 0 8rem; }
    .m-section-heading h3, .m-aside-heading h3 {
      padding-bottom: 0.5rem; } }

/* About me -- Home.html & About.html */
.m-about-wrap {
  padding-top: 8rem; }
  .m-about-wrap .row {
    align-items: center; }
  .m-about-wrap img {
    padding-bottom: 5rem; }

@media screen and (min-width: 860px) {
  .m-about-wrap {
    padding-top: 5rem; }
    .m-about-wrap .row {
      align-items: flex-end; }
    .m-about-wrap img {
      padding: 0; } }

@media screen and (min-width: 1140px) {
  .m-about-wrap img {
    padding: 0 2.5rem; } }

/* Premium Quality -- Home.html & About.html */
.m-quality {
  background: #8490ff;
  background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%); }

.m-quality-wrap {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .m-quality-wrap img {
    display: block;
    width: 50%;
    margin: 0 auto; }
  .m-quality-wrap a {
    display: none; }
    .m-quality-wrap a:first-child {
      display: block; }

@media screen and (min-width: 860px) {
  .m-quality-wrap {
    display: flex;
    justify-content: space-around;
    padding: 5rem 2.5rem; }
    .m-quality-wrap img {
      width: 100%;
      padding: 1.5rem; }
    .m-quality-wrap a {
      display: inline-block; }
      .m-quality-wrap a:first-child {
        display: inline-block; } }

@media screen and (min-width: 860px) {
  .m-quality-wrap {
    padding: 5rem 0; } }

/* Projects thumbnails */
.m-projects-presentation {
  padding-top: 1.5rem;
  text-align: center; }
  .m-projects-presentation h4 {
    padding-top: 0.5rem; }

.m-projects-presentation a:hover .m-projects-thumbnails {
  position: relative; }

.m-projects-presentation a:hover > .m-projects-thumbnails::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #8490ff;
  background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 1; }

.m-projects-presentation a:hover > .m-projects-thumbnails::after {
  content: url("../img/preview.png");
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 29px);
  z-index: 2; }

@media screen and (min-width: 860px) {
  .m-projects .col-md-6:nth-child(even) {
    padding-right: 1.5rem; }
  .m-projects .col-md-6:nth-child(odd) {
    padding-left: 1.5rem; }
  .m-projects-presentation {
    padding-top: 0; } }

@media screen and (min-width: 1140px) {
  .m-projects .col-md-6:nth-child(even) {
    padding-right: 0; }
  .m-projects .col-md-6:nth-child(odd) {
    padding-left: 0; }
  .m-projects .col-md-6:nth-child(3n+2) {
    padding-right: 1.5rem; }
  .m-projects .col-md-6:nth-child(3n+3) {
    padding: 0 0.75rem; }
  .m-projects .col-md-6:nth-child(3n+4) {
    padding-left: 1.5rem; } }

/* Aside -- Blog.html & Article.html */
/* Blog aside */
.m-aside-blog-wrap {
  padding: 3rem 1rem;
  border: 2px solid #f1f0ee; }

/* Aside -- Author */
.m-aside-blog section {
  border-top: 2px solid #f1f0ee;
  padding: 3rem 0; }
  .m-aside-blog section:last-child {
    padding-bottom: 0; }

.m-aside-blog-author {
  text-align: center;
  padding-bottom: 3rem; }
  .m-aside-blog-author img {
    display: block;
    margin: 0rem auto 3rem;
    width: 33%; }
  .m-aside-blog-author .author-role {
    padding-bottom: 1.5rem; }
  .m-aside-blog-author .author-social a {
    font-size: 1.2rem;
    padding: 1.5rem 0.5rem; }
  .m-aside-blog-author .author-description {
    padding: 1.5rem 0 0 0; }

/* Aside - Ads */
.m-aside-blog-ads h4 {
  display: none; }

/* Aside -- Post categories */
.m-aside-blog-categories .aside-heading {
  margin-bottom: 0.5rem; }

.m-aside-blog-categorie a {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #f1f0ee; }

.m-aside-blog-categorie p {
  padding: 1rem 0.4rem 0.5rem; }

@media screen and (min-width: 1140px) {
  .m-aside-blog-categorie a:hover > .categorie-name {
    color: #8490ff; } }

/* Aside -- Newsletter */
.m-aside-blog-newsletter {
  text-align: center; }
  .m-aside-blog-newsletter p:last-child {
    padding-bottom: 0; }

.aside-newsletter-form {
  display: flex; }
  .aside-newsletter-form label {
    display: none; }
  .aside-newsletter-form input {
    padding: 0.8rem; }
    .aside-newsletter-form input[type=email] {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; }
      .aside-newsletter-form input[type=email]::placeholder, .aside-newsletter-form input[type=email]::-ms-input-placeholder {
        color: #f7f7f7; }
    .aside-newsletter-form input[type=submit] {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      background-color: #8490ff;
      border-color: #8490ff;
      color: #fff;
      cursor: pointer; }
      .aside-newsletter-form input[type=submit]:hover {
        background-color: #62bdfc;
        border-color: #62bdfc; }

@media screen and (min-width: 860px) {
  .m-aside-blog-wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media screen and (min-width: 1140px) {
  .m-aside-blog-wrap {
    padding-left: 2rem;
    padding-right: 2rem; } }

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free", "Poppins"; }

/* Background sections */
.home-slider, .home-services, .home-blog {
  background-color: #faf9ff; }

.home-about, .home-projects {
  background: #fff; }

.home-counters {
  background: #8490ff;
  background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%); }

/* Home slider */
.home-slider-wrap {
  padding-top: 8rem;
  padding-bottom: 0; }
  .home-slider-wrap img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 5rem; }

.subtitle {
  font-size: 0.9rem;
  color: #222222;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 0;
  font-weight: bold; }

@media screen and (min-width: 860px) {
  .home-slider-wrap {
    padding-top: 5rem; }
    .home-slider-wrap img {
      padding-top: 0; }
  .home-slider-this-is-me {
    padding-top: 5rem; } }

@media screen and (min-width: 1140px) {
  .home-slider-wrap img {
    padding: 0 2.5rem; } }

/* Home My Offered Services */
.home-services-wrap {
  padding-bottom: 3.5rem; }

.home-service-details {
  text-align: center;
  padding: 1rem 0 2.5rem; }
  .home-service-details i {
    font-size: 2.5rem;
    color: #222222;
    padding-bottom: 1.5rem; }
  .home-service-details h4 {
    padding-bottom: 1rem;
    text-transform: capitalize; }
  .home-service-details a {
    color: #222222; }

@media screen and (min-width: 860px) {
  .home-services .col-md-6:nth-child(even) {
    padding-right: 1.5rem; }
  .home-services .col-md-6:nth-child(odd) {
    padding-left: 1.5rem; } }

@media screen and (min-width: 1140px) {
  .home-services .col-md-6:nth-child(even) {
    padding-right: 0; }
  .home-services .col-md-6:nth-child(odd) {
    padding-left: 0; }
  .home-services .col-md-6:nth-child(3n+2) {
    padding-right: 1.5rem; }
  .home-services .col-md-6:nth-child(3n+3) {
    padding: 0 0.75rem; }
  .home-services .col-md-6:nth-child(3n+4) {
    padding-left: 1.5rem; } }

/* Home Counters */
.home-counters-wrap {
  padding: 5rem 0;
  text-align: center; }
  .home-counters-wrap h3 {
    display: none; }
  .home-counters-wrap .home-counter-item {
    padding: 2rem 0; }
    .home-counters-wrap .home-counter-item p {
      color: #fff;
      padding: 0; }
    .home-counters-wrap .home-counter-item .counters-figures {
      font-size: 2.5rem;
      font-weight: bold; }

@media screen and (min-width: 860px) {
  .home-counters-wrap {
    padding: 5rem 8rem; } }

/* Home Latest projects */
.home-projects-wrap {
  padding-bottom: 3.5rem; }

/* Home latest blogs posts */
.home-blog-wrap {
  padding-bottom: 2rem; }

.home-blog-post {
  padding: 1.5rem 0; }
  .home-blog-post h4 {
    padding: 1.3rem 0 1rem;
    text-transform: uppercase;
    font-size: 1.3rem; }

.home-blog-post-details {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #dddddd; }
  .home-blog-post-details .post-author {
    color: #2b2b2b; }
  .home-blog-post-details .blog-post-date {
    margin-left: auto; }
  .home-blog-post-details img {
    width: 2rem;
    margin-right: 0.5rem; }
  .home-blog-post-details p {
    padding: 0; }
  .home-blog-post-details i {
    margin-left: 0.5rem; }

@media screen and (min-width: 860px) {
  .home-blog .col-md-4:nth-child(3n+2) {
    padding-right: 1.2rem; }
  .home-blog .col-md-4:nth-child(3n+3) {
    padding-right: 0.6rem;
    padding-left: 0.6rem; }
  .home-blog .col-md-4:nth-child(3n+4) {
    padding-left: 1.2rem; }
  .home-blog-post {
    padding-top: 0; }
  .home-blog-post-details p {
    font-size: 0.9rem; }
  .blog-post-date {
    text-align: right; }
    .blog-post-date p {
      font-size: 0.7rem; } }

@media screen and (min-width: 800px) {
  .blog-post-date p {
    font-size: 0.8rem; } }

@media screen and (min-width: 850px) {
  .blog-post-date p {
    font-size: 0.9rem; } }

@media screen and (min-width: 1140px) {
  .home-blogs-post-thumbnail {
    overflow: hidden; }
  .home-blogs-post-thumbnail img {
    transform: scale(1);
    transition: transform 0.5s; }
  .home-blog-post a:hover > .home-blogs-post-thumbnail img {
    transform: scale(1.2);
    transition: transform 0.5s; }
  .home-blog-post a:hover > h4 {
    color: #8490ff;
    transition: color 0.5s; } }

.about-description p:first-child {
  padding-top: 3.5rem; }

.about-tools h3 {
  padding: 1.5rem 0 2.5rem;
  text-transform: capitalize; }

.gauge-tool.after-effects {
  display: block;
  position: relative;
  height: 14px;
  width: 100%;
  background-color: #dddddd;
  border: 4px solid #eeeeee;
  border-radius: 50px; }
  .gauge-tool.after-effects::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 85%;
    background: #8490ff;
    background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
    border-radius: 50px;
    animation: growUp-after-effects 2s; }

@keyframes growUp-after-effects {
  from {
    width: 0%; }
  to {
    width: 85%; } }

.gauge-tool.photoshop {
  display: block;
  position: relative;
  height: 14px;
  width: 100%;
  background-color: #dddddd;
  border: 4px solid #eeeeee;
  border-radius: 50px; }
  .gauge-tool.photoshop::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 90%;
    background: #8490ff;
    background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
    border-radius: 50px;
    animation: growUp-photoshop 2s; }

@keyframes growUp-photoshop {
  from {
    width: 0%; }
  to {
    width: 90%; } }

.gauge-tool.illustrator {
  display: block;
  position: relative;
  height: 14px;
  width: 100%;
  background-color: #dddddd;
  border: 4px solid #eeeeee;
  border-radius: 50px; }
  .gauge-tool.illustrator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 70%;
    background: #8490ff;
    background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
    border-radius: 50px;
    animation: growUp-illustrator 2s; }

@keyframes growUp-illustrator {
  from {
    width: 0%; }
  to {
    width: 70%; } }

.gauge-tool.sublime {
  display: block;
  position: relative;
  height: 14px;
  width: 100%;
  background-color: #dddddd;
  border: 4px solid #eeeeee;
  border-radius: 50px; }
  .gauge-tool.sublime::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 95%;
    background: #8490ff;
    background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
    border-radius: 50px;
    animation: growUp-sublime 2s; }

@keyframes growUp-sublime {
  from {
    width: 0%; }
  to {
    width: 95%; } }

.gauge-tool.sketch {
  display: block;
  position: relative;
  height: 14px;
  width: 100%;
  background-color: #dddddd;
  border: 4px solid #eeeeee;
  border-radius: 50px; }
  .gauge-tool.sketch::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 85%;
    background: #8490ff;
    background: linear-gradient(90deg, #8490ff 40%, #62bdfc 100%);
    border-radius: 50px;
    animation: growUp-sketch 2s; }

@keyframes growUp-sketch {
  from {
    width: 0%; }
  to {
    width: 85%; } }

.about-tool-details {
  padding-bottom: 2.5rem; }
  .about-tool-details p {
    padding: 0;
    text-align: right; }

.about-feedback {
  background-color: #faf9ff; }

.about-feedback-quote-item {
  padding: 2.5rem 0;
  background-color: #fff;
  display: none; }
  .about-feedback-quote-item img {
    float: left;
    width: 3rem;
    padding-left: 1rem;
    margin-top: -0.4rem; }
  .about-feedback-quote-item q {
    display: block; }
  .about-feedback-quote-item p, .about-feedback-quote-item q {
    padding-left: 4rem;
    padding-right: 0.5rem; }
  .about-feedback-quote-item .about-feedback-name {
    font-size: 1.3rem;
    color: #222222;
    font-weight: bold;
    padding-bottom: 0.5rem; }
  .about-feedback-quote-item:first-child {
    display: block; }

@media screen and (min-width: 860px) {
  .about-tools .row {
    align-items: flex-start; }
  .about-tool-details {
    padding-right: 1.5rem; }
  .about-feedback-quote {
    display: flex;
    justify-content: space-between; }
  .about-feedback-quote-item {
    display: block;
    flex: 0 0 48%;
    max-width: 48%; }
    .about-feedback-quote-item:first-child {
      margin-right: 0.5rem; }
    .about-feedback-quote-item:last-child {
      margin-left: 0.5rem; } }

/* Article */
.article {
  background-color: #faf9ff; }

.article-img-title {
  padding-bottom: 1.5rem; }

.author-social {
  padding: 0.5rem 1rem 0.5rem 0; }
  .author-social a {
    padding-right: 1.5rem; }

h2 {
  text-transform: capitalize; }

.article-emphasis {
  background-color: #fff;
  padding: 1.5rem; }

@media screen and (min-width: 860px) {
  .article-release-wrap {
    padding-right: 1rem; }
    .article-release-wrap h2 {
      padding-top: 0; } }

@media screen and (min-width: 1140px) {
  .article-release-wrap {
    padding-right: 2rem; } }

.article-img-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0; }
  .article-img-wrap img {
    max-width: 48%; }

/* Prévious & Next articles */
.article-others-wrap {
  border-top: 2px solid #f1f0ee;
  padding: 3rem 0; }

.article-previous {
  padding-bottom: 1.5rem; }

.article-next {
  padding-top: 1.5rem;
  text-align: right; }

.article-previous a, .article-next a {
  display: flex;
  align-items: center; }
  .article-previous a div, .article-next a div {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .article-previous a img, .article-next a img {
    flex: 0 0 16.66666%;
    max-width: 55px; }
  .article-previous a h2, .article-next a h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 0; }
  .article-previous a p, .article-next a p {
    padding: 0 0 1rem 0;
    text-transform: capitalize; }

.article-previous-text {
  padding-left: 1rem; }

.article-next-text {
  padding-right: 1rem; }

@media screen and (min-width: 860px) {
  .article-others-wrap {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem; }
    .article-others-wrap .article-previous, .article-others-wrap .article-next {
      flex: 0 0 50%;
      max-width: 50%; }
      .article-others-wrap .article-previous a p, .article-others-wrap .article-next a p {
        padding: 0 0 0.5rem 0; }
  .article-previous, .article-next {
    padding: 0; } }

@media screen and (min-width: 1140px) {
  .article-others-wrap {
    margin-right: 2rem; }
  .article-next a:hover > .article-next-text h2, .article-next a:hover .article-previous-text h2, .article-previous a:hover > .article-next-text h2, .article-previous a:hover .article-previous-text h2 {
    color: #8490ff; }
  .article-next a:hover > .article-next-text p, .article-next a:hover .article-previous-text p, .article-previous a:hover > .article-next-text p, .article-previous a:hover .article-previous-text p {
    color: #222; } }

/* Article comments */
.article-old-comments-wrap {
  padding: 3rem 1rem;
  border: 2px solid #f1f0ee; }

.article-old-comments-wrap {
  text-align: center; }
  .article-old-comments-wrap h3 {
    padding-bottom: 3rem;
    text-transform: capitalize; }

.article-comment-detail {
  text-align: left; }
  .article-comment-detail .comment-image {
    text-align: right; }
    .article-comment-detail .comment-image img {
      max-width: 50px; }
  .article-comment-detail p {
    padding: 0 0 0 0.7rem;
    font-size: 0.8rem; }
  .article-comment-detail .comment-author {
    font-weight: bold;
    font-size: 1rem;
    color: #222222; }
  .article-comment-detail .comment-date {
    color: #aaaaaa; }
  .article-comment-detail .comment-text {
    padding-top: 1.5rem;
    padding-bottom: 2rem; }

@media screen and (min-width: 860px) {
  .article-old-comments-wrap {
    margin-right: 1rem; } }

@media screen and (min-width: 1140px) {
  .article-old-comments-wrap {
    margin-right: 2rem; } }

/*Article comments form */
.article-new-comments-wrap {
  margin: 3rem 0;
  padding: 3rem 1rem;
  border: 2px solid #f1f0ee;
  text-align: center; }
  .article-new-comments-wrap h3 {
    padding-bottom: 3rem; }
  .article-new-comments-wrap form label {
    display: none; }
  .article-new-comments-wrap form input, .article-new-comments-wrap form textarea {
    border: none; }

.send-message input {
  margin-left: auto;
  margin-right: auto;
  background: #8490ff; }

@media screen and (min-width: 860px) {
  .article-new-comments-wrap {
    margin-right: 1rem;
    margin-bottom: 0; } }

@media screen and (min-width: 1140px) {
  .article-new-comments-wrap {
    margin-right: 2rem; } }

@media screen and (min-width: 860px) {
  .comment-form-field input {
    padding: 1rem; }
  .comment-form-field.name, .comment-form-field.email {
    display: flex; }
    .comment-form-field.name input, .comment-form-field.email input {
      width: 98%; }
  .comment-form-field.email {
    justify-content: flex-end; }
  .comment-form-field.name {
    justify-content: flex-start; } }

/* Blog Heading */
.blog {
  background: #faf9ff; }

.blog-heading {
  position: relative;
  background: url("../img/blog/blog-home-banner-m.jpg") center top no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blog-heading::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .blog-heading .blog-heading-wrap {
    z-index: 9999; }
  .blog-heading h1 {
    color: #fdfdff;
    text-transform: capitalize;
    font-size: 2rem; }
  .blog-heading p {
    color: #fafafc; }

@media screen and (min-width: 860px) {
  .blog-heading {
    height: auto;
    padding: 8rem 0 5rem;
    background: url("../img/blog/blog-home-banner-l.jpg") center top no-repeat; } }

@media screen and (min-width: 1140px) {
  .blog-heading {
    padding: 8rem 0 5rem;
    background: url("../img/blog/blog-home-banner.jpg") center top no-repeat; } }

/* Blog categories */
.blog-cat-item {
  position: relative;
  height: 12rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .blog-cat-item::before {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.75;
    width: 90%;
    height: 80%; }
  .blog-cat-item h2 {
    position: relative;
    color: #fdfdff; }
    .blog-cat-item h2::before {
      content: '';
      position: absolute;
      left: 15%;
      bottom: 10%;
      width: 70%;
      height: 1px;
      background-color: #fdfdff; }
  .blog-cat-item p {
    color: #fafafc; }
  .blog-cat-item.social {
    background: url("../img/blog/cat-widget1.jpg") no-repeat;
    background-size: cover; }
  .blog-cat-item.politics {
    background: url("../img/blog/cat-widget2.jpg") no-repeat;
    background-size: cover; }
  .blog-cat-item.food {
    background: url("../img/blog/cat-widget3.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 0; }

.blog-cat-item-wrap {
  width: 100%;
  z-index: 1; }

@media screen and (min-width: 860px) {
  .blog-categories-wrap {
    padding-bottom: 0; }
  .blog-cat-item {
    height: 10rem;
    padding: 2rem 0;
    margin-bottom: 0; }
    .blog-cat-item h2 {
      font-size: 1.5rem; }
    .blog-cat-item.social {
      margin-right: 1rem; }
    .blog-cat-item.politics {
      margin: 0 0.5rem 0; }
    .blog-cat-item.food {
      margin-left: 1rem; } }

.blog-page-container {
  padding-top: 0; }

@media screen and (min-width: 860px) {
  .blog-page-container {
    padding-top: 5rem; } }

/* Blog articles list */
.blog-articles-list-wrap {
  padding: 0 0 5rem; }

.blog-articles-list h2 {
  display: none; }

/* Blog article thumbnails */
.blog-article {
  padding-bottom: 5rem; }
  .blog-article p {
    padding-bottom: 1rem; }
  .blog-article h3 {
    padding: 1rem 0; }

.blog-article-categories {
  color: #444444; }

/* Icons */
.blog-article-author::after {
  font-family: "Font Awesome 5 Free", "Poppins";
  font-weight: 300;
  content: ""; }

.blog-article-date::after {
  font-family: "Font Awesome 5 Free", "Poppins";
  font-weight: 300;
  content: ""; }

.blog-article-views::after {
  font-family: "Font Awesome 5 Free", "Poppins";
  font-weight: 300;
  content: ""; }

.blog-article-comments::after {
  font-family: "Font Awesome 5 Free", "Poppins";
  font-weight: 300;
  content: ""; }

@media screen and (min-width: 860px) {
  .blog-articles-list-wrap {
    padding: 0 1.5rem 5rem 0; }
  .blog-article-infos {
    text-align: right;
    padding-right: 1rem; }
    .blog-article-infos .author-social {
      padding: 0; }
      .blog-article-infos .author-social a {
        padding: 0.5rem 0.5rem; }
        .blog-article-infos .author-social a:last-child {
          padding-right: 0; } }

@media screen and (min-width: 1140px) {
  .blog-articles-list-wrap {
    padding-right: 2rem; } }

.contact-wrap {
  padding: 0;
  background-color: #faf9ff; }

.l-wrap.contact-googlemap-wrap {
  padding-bottom: 0; }

.contact-googlemap iframe {
  width: 100%;
  min-height: 450px;
  border: none; }

.contact-details-item {
  display: flex;
  align-items: center;
  padding: 1rem 0; }
  .contact-details-item i {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #8490ff; }
  .contact-details-item p {
    padding: 0.25rem 0 0; }
  .contact-details-item address {
    font-style: normal; }
  .contact-details-item a {
    color: #222222;
    font-size: 1.1rem; }

.contact-form {
  padding: 5rem 0 0; }
  .contact-form label {
    display: none; }

.contact-form-field {
  display: flex;
  justify-content: flex-end; }

@media screen and (min-width: 860px) {
  .contact-form {
    padding: 0 0 0 1rem; }
    .contact-form label {
      display: none; }
    .contact-form input, .contact-form textarea {
      width: 95%; }
    .contact-form input {
      padding: 1.2rem; }
      .contact-form input[type=submit] {
        width: 65%; }
    .contact-form textarea {
      height: 15rem; } }
