// Colors
$color-primary: #8490ff;
$color-secondary: #62bdfc;
$color-txt: #777777;
$color-title: #222222;
$color-link: #8490ff;
$color-bg-header: #fff;
$color-bg-primary: #fff;
$color-bg-secondary: #faf9ff;
$color-aside-title: #fdfdff;
$color-aside-subtitle: #fafafc;
$color-footer-bg: #04091e;
$color-footer-title: #fcfcff;


// Grid
$grid-columns: 12;

$responsive-table: (
    -xs: 360px, 
    -md: 960px,
    -lg: 1024px
);

// About.html -- Les compétences
$tools-table: (
    after-effects: 85%,
    photoshop: 90%,
    illustrator: 70%,
    sublime: 95%,
    sketch: 85%
);

/* Blog icons */
$blog-icons: (
    author: "\f007",
    date: "\f073",
    views: "\f06e",
    comments: "\f075"
);