.about-description {
    p:first-child {
        padding-top: 3.5rem;
    }
}

.about-tools {
    h3 {
        padding: 1.5rem 0 2.5rem;
        text-transform: capitalize;
    }
}

.about-tool-details {
    padding-bottom: 2.5rem;
    p {
        padding: 0;
        text-align: right;
    }
}

.about-feedback {
    background-color: $color-bg-secondary;
}

.about-feedback-quote-item {
    padding: 2.5rem 0;
    background-color: $color-bg-primary;
    display: none;

    img {
        float: left;
        width: 3rem;
        padding-left: 1rem;
        margin-top: -0.4rem;
    }

    p {
        padding-left: 4rem;
        padding-right: 0.5rem;
    }

    .about-feedback-name {
        font-size: 1.3rem;
        color: $color-title;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    &:first-child {
        display: block;
    }
}