.about-description {
    p:first-child {
        padding-top: 3.5rem;
    }
}

.about-tools {
    h3 {
        padding: 1.5rem 0 2.5rem;
        text-transform: capitalize;
    }
}

// Boucle dans le tableau des compétences pour adapter automatiquement les jauges sur la page about.html
@each $tool, $skill-pc in $tools-table {
    .gauge-tool.#{$tool} {
        display: block;
        position: relative;
        height: 14px;
        width: 100%;
        background-color: #dddddd;
        border: 4px solid #eeeeee;
        border-radius: 50px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 6px;
            width: #{$skill-pc};
            @include bg-gradient;
            border-radius: 50px;

            animation: growUp-#{$tool} 2s ;
        }

        @keyframes growUp-#{$tool} {
            from {
                width: 0%;
            }

            to {
                width: #{$skill-pc};
            }
        }
    }
}



.about-tool-details {
    padding-bottom: 2.5rem;

    p {
        padding: 0;
        text-align: right;
    }
}

.about-feedback {
    background-color: $color-bg-secondary;
}

.about-feedback-quote-item {
    padding: 2.5rem 0;
    background-color: $color-bg-primary;
    display: none;

    img {
        float: left;
        width: 3rem;
        padding-left: 1rem;
        margin-top: -0.4rem;
    }

    q {
        display: block;
    }

    p, q {
        padding-left: 4rem;
        padding-right: 0.5rem;
    }

    .about-feedback-name {
        font-size: 1.3rem;
        color: $color-title;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    &:first-child {
        display: block;
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .about-tools {
        // Alignement des jauges.
        .row {
            align-items: flex-start;
        }
    }

    .about-tool-details {
        padding-right: 1.5rem;
    }

    .about-feedback-quote {
        display: flex;
        justify-content: space-between;
    }

    .about-feedback-quote-item {
        display: block;
        flex: 0 0 48%;
        max-width: 48%;
        &:first-child {
            margin-right: 0.5rem;
        }
        &:last-child  {
             margin-left: 0.5rem;
        }
    }
}