/* Article */

.article {
    background-color : $color-bg-secondary;
}

.article-img-title {
    padding-bottom: 1.5rem;
}

.author-social {
    padding: 0.5rem 1rem 0.5rem 0;
    
    a {
        padding-right: 1.5rem;
    }
}

h2 {
    text-transform: capitalize;
}

.article-emphasis {
    background-color: $color-bg-primary;
    padding: 1.5rem;
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .article-release-wrap {
        padding-right: 1rem;

        h2 {
            padding-top: 0;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .article-release-wrap {
        padding-right: 2rem;
    }
}

.article-img-wrap {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    img {
        max-width: 48%;
    }
}

/* Prévious & Next articles */
.article-others-wrap {
    border-top: 2px solid #f1f0ee;
    padding: 3rem 0;
}

.article-previous {
    padding-bottom: 1.5rem;
}

.article-next {
    padding-top : 1.5rem;
    text-align: right;
}

.article-previous a, .article-next a {
    display: flex;
    align-items: center;

    div {
        @include custom-grid(10);
    }

    img {
        flex: 0 0 16.66666%;
        max-width: 55px;
    }

    h2 {
        font-size: 1.2rem;
        text-transform: capitalize;
        padding: 0;
    }

    p {
        padding: 0 0 1rem 0;
        text-transform: capitalize;
    }
}

.article-previous-text {
    padding-left: 1rem;
}

.article-next-text {
    padding-right: 1rem;
}

// Revoir poids des selecteurs !
@media screen and (min-width: map-get($responsive-table, -md)) {
    .article-others-wrap {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;

        .article-previous, .article-next {
            @include custom-grid(6);

            a p {
                padding: 0 0 0.5rem 0;
            }
        }

    }

    .article-previous, .article-next {
        padding: 0;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .article-others-wrap {
        margin-right: 2rem;
    }

    .article-next a:hover, .article-previous a:hover {
        > .article-next-text h2, .article-previous-text h2 {
            color:$color-primary;
        }

        > .article-next-text p, .article-previous-text p {
            color: #222;
        }
    }
}

/* Article comments */
.article-old-comments-wrap {
    padding: 3rem 1rem;
    border: 2px solid #f1f0ee;
}

.article-old-comments-wrap {
    text-align: center;

    h3 {
        padding-bottom: 3rem;
        text-transform: capitalize;
    }
}

.article-comment-detail {
    text-align: left;

    .comment-image {
        text-align: right;

        img {
            max-width: 50px;
        }
    }
        
    p {
        padding: 0 0 0 0.7rem;
        font-size: 0.8rem;
    }

    .comment-author {
        font-weight: bold;
        font-size: 1rem;
        color: $color-title;
    }

    .comment-date {
        color: lighten($color-txt, 20%);
    }

    .comment-text {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .article-old-comments-wrap {
        margin-right: 1rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .article-old-comments-wrap {
        margin-right: 2rem;
    }
}

/*Article comments form */
.article-new-comments-wrap {
    margin: 3rem 0;
    padding: 3rem 1rem;
    border: 2px solid #f1f0ee;
    text-align: center;
    
    h3 {
        padding-bottom: 3rem;
    }

    form {
        label {
            display: none;
        }

        input, textarea {
            border: none;
        }
    }
}

.send-message input {
    margin-left: auto;
    margin-right: auto;
    background: $color-primary;
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .article-new-comments-wrap {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .article-new-comments-wrap {
        margin-right: 2rem;
    }
}

// A revoir !
@media screen and (min-width: map-get($responsive-table, -md)) {
    .comment-form-field {
        input {
            padding: 1rem;
        }
        
        &.name, &.email {
            display: flex;
            input {
                width: 98%;
            }
        }

        &.email {
            justify-content: flex-end;
        }

        &.name {
            justify-content: flex-start;
        }
    }
}