/* Blog Heading */
.blog {
    background: $color-bg-secondary;
}

.blog-heading {
    position: relative;
    background: url('../img/blog/blog-home-banner.jpg') center top no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    z-index: 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .blog-heading-wrap {
        z-index: 9999;
        position: absolute;
        width: 100%;
        top: calc(50vh - 150px);
        left: calc(50vw - 50%);
    }

    h1 {
        color: $color-aside-title;
        text-transform: capitalize;
        font-size: 2rem;
    }

    p {
        color: $color-aside-subtitle;
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .blog-heading {
        height: 50vh;

        .blog-heading-wrap {
            top: 15%;
        }
    }
}

/* Blog categories */
.blog-cat-item {
    position: relative;
    height: 15rem;
    padding: 3rem 0;
    margin-bottom: 3rem;
    text-align: center;

    h2 {
        position: relative;
        color: $color-aside-title;

        &::before {
            content: '';
            position: absolute;
            left: 15%;
            bottom: 10%;
            width: 70%;
            height: 1px;
            background-color: $color-aside-title;
        }
    }

    p {
        color: $color-aside-subtitle;
    }

    &.social {
        background: url('../img/blog/cat-widget1.jpg');
    }

    &.politics {
        background: url('../img/blog/cat-widget2.jpg');
    }

    &.food {
        background: url('../img/blog/cat-widget3.jpg');
        margin-bottom: 0;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10%;
        left: 5%;
        background-color: #000;
        opacity: 0.8;
        width: 90%;
        height: 80%;
        }
}

.blog-cat-item-wrap {
    position: absolute;
    width: 100%;
    height: 100;
    z-index: 1;
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .blog-cat-item {
        margin: 0 0.5rem;

        h2 {
            font-size: 1.5rem;
        }
    }
}

/* Blog articles list */
.blog-articles-list h2 {
    display: none;
}

.blog-articles-list-wrap {
    padding: 0 1rem 5rem;
}

/* Blog article thumbnails */
.blog-article {
    padding-bottom: 5rem;
    p {
        padding-bottom: 1rem;
    }

    h3 {
        padding: 1rem 0;
    }
}

.blog-article-categories {
    color: darken($color-txt,20%);
}

/* Icons */
@each $item, $font-awesome-ref in $blog-icons {
    .blog-article-#{$item}::after {
        @include custom-icon(quote(#{$font-awesome-ref}));
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .blog-article-categories {
        padding-top: 0.5rem;
        padding-right: 1rem;
        text-align: right;
        
    }

     .blog-article-author, .blog-article-date, .blog-article-views, .blog-article-comments {
        text-align: right;
        padding-right: 0.4rem;
    }
}

.blog-page-changer ul {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    li a {
        padding: 0.5rem;
        margin: 0 0.2rem;

        &.is-active {
            background-color: $color-primary;
            color: #fff;
        }
    }
}
