.contact-wrap {
    padding: 0;
    background-color: $color-bg-secondary;
}

.l-wrap.contact-googlemap-wrap {
    padding-bottom: 0;
}

.contact-googlemap {
    iframe {
        width: 100%;
    }
}

.contact-details-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    i {
        font-size: 2rem;
        padding: 0 1.5rem;
    }

    p {
        padding: 0.25rem 0;
    }

    address {
        font-style: normal;
    }

    a {
        color: $color-title;
        font-size: 1.1rem;
    }
}

.contact-form {
    padding: 5rem 0 0;

    label {
        display: none;
    }
}

.contact-form-field {
    display: flex;
    justify-content: flex-end;

}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .contact-form {
        padding: 0 0 0 1rem;
    
        label {
            display: none;
        }

        input, textarea {
            width: 95%;
        }

        input {
            padding: 1.2rem;

            &[type=submit] {
                width: 65%;
            }
        }

        textarea {
            height: 15rem;
        }
    }
}