.contact-wrap {
    padding: 0;

    background-color: $color-bg-secondary;
}

.contact-googlemap {
    iframe {
        width: 100%;
    }
}

.contact-details {
    padding: 3.5rem 1rem;
}

.contact-details-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    i {
        font-size: 2rem;
        padding: 0 1.5rem;
    }

    p {
        padding: 0.25rem 0;
    }

    address {
        font-style: normal;
    }

    a {
        color: $color-title;
        font-size: 1.1rem;
    }
}

.contact-form {
    padding: 0 1rem 5rem;

    label {
        display: none;
    }
}

.contact-form-field {
    display: flex;
    justify-content: flex-end;

}