/* Background sections */
.home-slider, .home-services, .home-blog {
    background-color: $color-bg-secondary;
}

.home-about, .home-projects {
    background: $color-bg-primary;
}

.home-counters {
    @include bg-gradient;
}

/* Home slider */
.home-slider-wrap {
    padding-top: 8rem;
    padding-bottom: 0;

    img {
        display: block;
        margin: 0 auto;
        width: 80%;
        padding-top: 5rem;
    }
}

.subtitle {
    font-size: 0.9rem;
    color: $color-title;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding-bottom: 0;
    font-weight: bold;
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .home-slider-wrap {
        padding-top: 5rem;

        img {
            padding-top: 0;
        }
    }

    .home-slider-this-is-me {
        padding-top: 5rem;
    }
}

/* Home My Offered Services */
.home-services-wrap {
    padding-bottom: 3.5rem;
}

.home-service-details {
    text-align: center;
    padding: 1rem 0 2.5rem;

    i {
        font-size: 2.5rem;
        color: $color-title;
        padding-bottom: 1.5rem;
    }

    h4 {
        padding-bottom: 1rem;
        text-transform: capitalize;
    }

    a {
        color: $color-title;
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .home-services {
        // Utilisation des class de la grille pour éviter d'utiliser les class "webdesign", "webdev", etc. > Maintenabilité accrue.
        .col-md-6:nth-child(even) {
            padding-right: 1.5rem;
        }

        .col-md-6:nth-child(odd) {
            padding-left: 1.5rem;
        }
    }
}

/* Home Counters */
.home-counters-wrap {
    padding: 5rem 0;
    text-align: center;
    
    h3 {
        display: none;
    }

    .home-counter-item {
        padding: 2rem 0;

        p {
            color: $color-bg-primary;
            padding: 0;
        }

        .counters-figures {
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .home-counters-wrap {
        padding: 5rem 8rem;;
    }
}

/* Home Latest projects */
.home-projects-wrap {
    padding-bottom: 3.5rem;
}

/* Home latest blogs posts */
.home-blog-wrap {
    padding-bottom: 2rem;
}

.home-blog-post {
    padding: 1.5rem 0;

    h4 {
        padding: 1.3rem 0 1rem;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
}

.home-blog-post-details {
    display: flex;
    align-items: center;

    padding: 0.5rem 0;

    border-bottom: 1px solid lighten($color-txt, 40%);

    .post-author {
        color: darken($color-txt, 30%);
    }

    .blog-post-date {
        margin-left: auto;
    }

    img {
        width: 2rem;
        margin-right: 0.5rem;
    }

    p {
        padding: 0;
    }

    i {
        margin-left: 0.5rem;
    }    
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .home-blog {
        // Utilisation des classes de la grille pour améliorer la maintenabilité du code. Si ajout de posts sur la page home, les padding s'adaptent automatiquement peu importe le nombre.
        .col-md-4 {
            &:nth-child(3n+2) {
                padding-right: 1.2rem;
            }

            &:nth-child(3n+3) {
                padding-right: 0.6rem;
                padding-left: 0.6rem;
            }

            &:nth-child(3n+4){
                padding-left: 1.2rem;
            }
        }
    }

    .home-blog-post {
        padding-top: 0;
    }

    .home-blog-post-details {
        p {
            font-size: 0.9rem;
        }
    }

    .blog-post-date {
        text-align: right;

        p {
            font-size: 0.7rem;
        }
    }
}

// Pour éviter que la date, les likes et les commentaires ne soient renvoyés à la ligne :
@media screen and (min-width: 800px){
    .blog-post-date p {
        font-size: 0.8rem;
    }
            
}

@media screen and (min-width: 850px){
    .blog-post-date p {
        font-size: 0.9rem;
    }
            
}