// Buttons
// ** Button with linear gradient background
.btn-primary {
    display: block;
    width: 200px;
    text-align: center;
    padding: 0.8rem 0;
    background: $color-primary;
    @include bg-gradient;
    color: $color-bg-primary;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.10rem;
    border: none;
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .btn-primary:hover {
        background: $color-secondary;
    }
}

// ** Button "read the article"
.btn-secondary {
    display: inline-block;
    text-align: center;
    color: #222222;
    background-color: #fff;
    padding: 1rem 1.5rem;
    font-weight: bold;
}

// ** Button in cloud tags
.btn-tag {
    display: inline-block;
    border: 2px solid #f1f0ee;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: darken($color-txt, 10%);
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .btn-tag:hover {
        background-color : #fff;
        border: none;
        color: #222;
        font-weight: bold;
    }
}

// ** Button Likes, Comments, etc. in Blog & Article
.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-left: 0.6rem;
}

// ** Button "Reply" in article comments
.btn-reply {
    text-align: center;

    a {
        padding: 0.5rem 1.2rem;
        border: 1px solid #f1f0ee;
        color: $color-title;
        font-weight: bold;
        background-color: $color-bg-primary;
        text-transform: uppercase;
    }
}

// Page changer in blog
.blog-page-changer ul {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    a {
        padding: 0.5rem;
        margin: 0 0.2rem;

        &.is-active {
            background-color: $color-primary;
            color: #fff;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .blog-page-changer a:hover {
        color: #222;
    }
}

// Search box in Aside / Blog & Article
.search-box {
    display: flex;
    padding-bottom: 3rem;

    label {
        display: none;
    }

    input, button {
        background-color: $color-primary;
        border: none;
        color: #fff;
        font-size: 1rem;
        padding: 1rem 1.5rem;    
    }

    input[type=text] {
        border-radius: 50px 0 0 50px;
        @include custom-grid(9);
        color: #fff;
        
        &::placeholder {
            color: darken(#fff, 5%);
            content: "hello world !"
        }

        &::-ms-input-placeholder { 
            color: #fff; 
        }
    }

    button {
        position: relative;
        border-radius: 0 50px 50px 0;
        @include custom-grid(3);
        margin: 0.75rem 0;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .search-box button {
        cursor: pointer;
    }
}

// Aside heading in Blog & Article
.aside-heading {
    background-color: $color-link;
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
}

// Aside popular posts in Blog & Article
.popular-post {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    &:last-child {
        padding-bottom: 0;
    }

    img {
        @include custom-grid(4);
        height: 100%;
    }
}

.popular-post-title {
    @include custom-grid(8);
    padding-left: 0.8rem;

    h4 {
        font-size: 1rem;
    }

    p {
        padding: 0;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .popular-post:hover > .popular-post-title a {
        color: $color-primary;
    }
}