.btn-primary {
    display: block;
    width: 200px;
    text-align: center;
    padding: 0.8rem 0;
    background: $color-primary;
    @include bg-gradient;
    color: $color-bg-primary;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.10rem;
    border: none;

    &:hover {
        background: $color-secondary;
    }
}

.btn-secondary {
    display: inline-block;
    text-align: center;
    color: #222222;
    background-color: #fff;
    padding: 1rem 1.5rem;
    font-weight: bold;
}

.btn-tag {
    display: inline-block;
    border: 2px solid #f1f0ee;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: darken($color-txt, 10%);
}

.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-left: 0.6rem;
}

/* Aside -- Search box */
.search-box {
    display: flex;
    padding-bottom: 3rem;

    label {
        display: none;
    }

    input {
        background-color: $color-primary;
        border: none;
        color: #fff;
        font-size: 1rem;
        padding: 1rem 1.5rem;

        &[type=text] {
            border-radius: 50px 0 0 50px;
            @include custom-grid(9);
            color: #fff;
            
            &::placeholder {
                color: darken(#fff, 5%);
            }

            &::-ms-input-placeholder { 
                color: #fff; 
            }
        }

        

        &[type=submit] {
            border-radius: 0 50px 50px 0;
            @include custom-grid(3);
        }
    }
}

/* Aside heading -- Blog.html & Article.html */
.aside-heading {
    background-color: $color-link;
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
}

/* Popular post */
.popular-post {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    &:last-child {
        padding-bottom: 0;
    }

    img {
        @include custom-grid(4);
        height: 100%;
    }
}

.popular-post-title {
    @include custom-grid(8);
    padding-left: 0.5rem;

    h4 {
        font-size: 1rem;
    }

    p {
        padding: 0;
    }
}

/* Comment Reply */
.btn-reply {
    text-align: center;

    a {
        padding: 0.5rem 1.2rem;
        border: 1px solid #f1f0ee;
        color: $color-title;
        font-weight: bold;
        background-color: $color-bg-primary;
        text-transform: uppercase;
    }
}