// Page Heading
.m-page-heading {
    @include bg-gradient;
    color: #fff;
    text-align: center;
    text-transform: capitalize;

    h1 {
        font-size: 3rem;
        color: inherit;
        text-transform: capitalize;
    }
}

.m-page-heading-wrap {
    padding-top: 8.5rem;
}

// ** Breadcrumb in page Heading
.next-row::after {
    content: 'â‡';
    padding: 0 0.5rem;
}

// Section & Aside Heading
.m-section-heading, .m-aside-heading {
    text-align: center;
    padding-bottom: 1.5rem;

    h3 {
        font-size: 2.5rem;
        text-transform: capitalize;
        padding-bottom: 1.5rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .m-section-heading, .m-aside-heading {
        padding-bottom: 3.5rem;

        p {
            padding: 0 8rem;
        }

        h3 {
            padding-bottom: 0.5rem;
        }
    }
}

// About me in Home & About
.m-about-wrap {
    padding-top: 8rem;

    .row {
        align-items: center;
    }

    h2 {
        text-transform: uppercase;
    }

    img {
        padding-bottom: 5rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -sm)) {
    .m-about-wrap {
        .row {
            align-items: center;
        }

        img {
            padding: 0;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .m-about-wrap {
        padding-top: 5rem;

        .row {
            align-items: flex-end;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .m-about-wrap img {
        padding: 0 2.5rem;
    }
}

// Projects presentation in Home & Portfolio
.m-projects-presentation {
    padding-top: 1.5rem;
    text-align: center;

    h4 {
        padding-top: 0.5rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -sm)) {
    .m-projects {
        // Using the grid classes to use the :nth-child selector > Enhanced Maintainability.
        .col-sm-6:nth-child(odd) {
            padding-left: 0.5rem;
        }

        .col-sm-6:nth-child(even) {
            padding-right: 0.5rem;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    // Using the grid classes to use the :nth-child selector > Enhanced Maintainability.
    .m-projects {
        .col-sm-6:nth-child(odd) {
            padding-left: 0;
        }

        .col-sm-6:nth-child(even) {
            padding-right: 0;
        }

        .col-md-4:nth-child(3n+2) {
            padding-right: 1.5rem;
        }
    
        .col-md-4:nth-child(3n+3) {
            padding: 0 0.75rem;
        }

        .col-md-4:nth-child(3n+4) {
            padding-left: 1.5rem;
        }
    }

    .m-projects-presentation {
        padding-top: 0;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)){
    // Glasses and gradient background on project thumbnails.
    .m-projects-presentation a:hover {
        .m-projects-thumbnails {
            position: relative;
        }
    
        > .m-projects-thumbnails::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            @include bg-gradient;
            opacity: 0.7;
            width: 100%;
            height: 100%;
            border-radius : 8px;
            z-index: 1;
        }
    
        > .m-projects-thumbnails::after {
            content: url('../img/preview.png');
            display: block;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 29px);
            z-index: 2;
        }
    }
}

// Premium Quality in Home & About
.m-quality {
    @include bg-gradient;
}

.m-quality-wrap {
    padding-top: 8rem;
    padding-bottom: 8rem;

    img {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    a {
        display: none;

        &:first-child {
            display: block;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -sm)) {
    .m-quality-wrap {
        display: flex;
        justify-content: space-around;
        padding: 5rem 2.5rem;

        img {
            width: 100%;
        }

        a:last-child {
            display: block;
        }
    }     
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .m-quality-wrap {
        img {
            padding: 1.5rem;
        }

        a {
            display: block;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .m-quality-wrap {
        padding: 5rem 0;
    }
}

// Aside in Blog & Article
// ** Layout
.m-aside-blog-wrap {
    padding: 3rem 1rem;
    border: 2px solid #f1f0ee;
}

@media screen and (min-width: map-get($responsive-table, -md)) {
    .m-aside-blog-wrap {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .m-aside-blog-wrap {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

// ** Author
.m-aside-blog section {
    border-top: 2px solid #f1f0ee;
    padding: 3rem 0;

    &:last-child {
        padding-bottom: 0;
    }
}

.m-aside-blog-author {
    text-align: center;
    padding-bottom: 3rem;

    img {
        display: block;
        margin: 0rem auto 3rem;
        width: 33%;
    }

    .author-role {
        padding-bottom: 1.5rem;
    }

    .author-social a {
        font-size: 1.2rem;
        padding: 1.5rem 0.5rem;
    }

    .author-description {
        padding: 1.5rem 0 0 0;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .author-social a:hover {
        color: $color-primary;
    }
}

// ** Ads
.m-aside-blog-ads h4 {
    display: none;
}

// ** Post categories
.m-aside-blog-categories .aside-heading {
    margin-bottom: 0.5rem;
}

.m-aside-blog-categorie {
    a {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px dotted #f1f0ee;
    }

    p {
        padding: 1rem 0.4rem 0.5rem;
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .m-aside-blog-categorie a:hover > .categorie-name {
        color: $color-primary;
    }
}

// ** Newsletter
.m-aside-blog-newsletter {
    text-align: center;

    p:last-child {
        padding-bottom: 0;
    }
}

.aside-newsletter-form {
    display: flex;

    label {
        display: none;
    }

    input {
        padding: 0.8rem;

        &[type=email]{
            @include custom-grid(8);

            &::placeholder, &::-ms-input-placeholder { 
                color: lighten($color-txt, 50%); 
            }
        }

        &[type=submit] {
            @include custom-grid(4);
            background-color: $color-primary;
            border-color: $color-primary;
            color: #fff;
        }
    }
}

@media screen and (min-width: map-get($responsive-table, -lg)) {
    .aside-newsletter-form input[type=submit] {
        cursor: pointer;

        &:hover {
            background-color: $color-secondary;
            border-color: $color-secondary;
        }
    }
}